CompileFlags:
  CompilationDatabase: .
  Add:
    - "-std=c++17"
    - "-IC:/Users/Administrator/AppData/Local/.xmake/packages/r/raylib-cpp/v5.5.0/c09e9888c7a24446bfbe7fc74d51fc0f/include"
    - "-IC:/Users/Administrator/AppData/Local/.xmake/packages/r/raylib/5.5/ff3f87ca824444c78f4ea6c42aea7e19/include"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build